<nav class="navbar navbar-inverse navbar-static-top expense">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><h1>Your Expense</h1></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container expense">
<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @expense.category_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @expense.fecha %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @expense.concept %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense), :class => 'btn btn-info' %>
<%= link_to 'Back', expenses_path, :class => 'btn btn-danger' %>
</div>